<h2 class='section-title title-accent'>Radiance LAN 2025</h2>

<div class="content-container">
    <div class="content size_2third">
        <img src="{{ asset('images/radiance-lan.webp') }}" alt="Radiance LAN" width="256px" height="256px"/>
        <p class="text-center">Le plus grand tournoi Dota 2 francophone, en format LAN !</p>
        <ul class="announcement">
            <li>Du 18 au 19 octobre 2025</li>
            <li>Au CRIJ Centre-Val de Loire, 3 Rue de la Cholerie, Orléans</li>
            <li>16 équipes</li>
            <li>Jusqu'à 1000€ de cashprize</li>
        </ul>
        <p class="text-center">Les inscriptions seront ouvertes du <b>10 août au 7 septembre 2025</b> !</p>
    </div>
</div>
