body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.base-header {
    position: fixed;
    z-index: 100;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 2px 8px var(--shadow-color);
    width: 100vw;
}

.navbar {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
}

.navbar-logo > img {
    height: 32px;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 32px;

    @media screen and (max-width: 896px) {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 0;
        background-color: var(--background-color);
        border-bottom: 1px solid var(--border-color);
    }
}

.navbar-menu.navbar-menu-open {
    @media screen and (max-width: 896px) {
        opacity: 1;
        visibility: visible;
    }
}

.navbar-menu-control {
    display: none;
    cursor: pointer;

    @media screen and (max-width: 896px) {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 32px;
        background-color: transparent;
        border: none;
    }
}

.navbar-menu-control > svg {
    height: 24px;
    width: 24px;
}

.navbar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 4px 12px;

    @media screen and (max-width: 896px) {
        border-top: 1px solid var(--border-color);
        height: 56px;
        padding: 8px;
    }
}

.navbar-link:hover,
.navbar-logo:hover {
    border-radius: 4px;
    background-color: color-mix(in oklab, var(--foreground-color) 3%);
    color: var(--accent-color);
}

.base-main {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
}

.base-main > :not(:last-child) {
    border-bottom: 1px solid var(--background-color-muted);
}

.base-footer {
    margin: auto 0 0;
    background-color: color-mix(in oklab, var(--background-color) 98%, var(--foreground-color));
    border-top: 1px solid var(--border-color);
}

.footer-container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 8px;
}

.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 4px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
}

.footer-link > svg {
    height: 24px;
    width: 24px;
}

.footer-link > span {
    @media screen and (max-width: 640px) {
        display: none;
    }
}

.footer-link:hover {
    background-color: var(--accent-color);
}
