.button {
    height: 32px;
    min-width: 32px;
    border-radius: 4px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    padding: 4px 8px;
    gap: 4px;
    cursor: pointer;
}

.button > svg {
    width: 16px;
    height: 16px;
    fill: white;
}

.button-lg {
    height: 40px;
    min-width: 40px;
    padding: 8px 16px;
    border-radius: 8px;
    gap: 8px;
    font-size: 16px;
}

.button-lg > svg {
    width: 24px;
    height: 24px;
    fill: white;
}

.button-link {
    text-decoration: underline;
}

.button-link:hover {
    color: var(--accent-color);
}

.button-accent {
    background-color: var(--accent-color);
}

.button-accent:hover {
    background-color: color-mix(in oklab, var(--accent-color) 90%, oklch(1 0 0));
}

.button-primary {
    background-color: var(--background-color);
}

.button-primary:hover {
    background-color: color-mix(in oklab, var(--background-color) 90%, oklch(1 0 0));
}

.button-secondary {
    background-color: var(--background-color-muted);
}

.button-secondary:hover {
    background-color: color-mix(in oklab, var(--background-color-muted) 90%, oklch(1 0 0));
}

.button-outline {
    border: 1px solid var(--border-color);
}

.button-destructive {
    background-color: color-mix(in oklab, var(--destructive) 75%, transparent);
}

.button-destructive:hover {
    background-color: color-mix(in oklab, var(--destructive) 100%, transparent);
}
