.dialog {
    margin: 128px auto;
    background-color: var(--background-color);
    border-radius: 8px;
    border: 1px solid var(--border-color);
    width: calc(100% - 64px);
    max-width: 960px;
    max-height: calc(100% - 64px);

    @media screen and (max-width: 640px) {
        width: calc(100% - 16px);
    }
}

.dialog::backdrop {
    background: color-mix(in oklab, var(--background-color) 95%, transparent);
}

.dialog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.dialog-title {
    font-size: 20px;
    font-weight: 700;
    margin-left: 8px;
}

.dialog-close {
    margin-left: 16px;
}

.dialog-body {
    display: flex;
    height: 100%;
    padding: 16px;

    @media screen and (max-width: 640px) {
        padding: 8px;
    }
}

.dialog-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    border-top: 1px solid var(--border-color);
}

.dialog-header,
.dialog-footer {
    padding: 8px;
}
