.donation-goal {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    position: relative;
    background-color: var(--background-color);
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 8px;
}

.donation-goal-progress {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--accent-color);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: -1px;
    z-index: -1;
}

.donation-goal-border {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--border-color);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: -1px;
    z-index: -1;
}

.donation-goal-header {
    display: flex;
    justify-content: space-between;
}

.donation-goal-title,
.donation-goal-amount {
    font-size: 24px;
    font-weight: 600;
}

.donation-goal-amount {
    color: color-mix(in oklab, var(--foreground-color) 75%, oklch(0 0 0));
}

.donation-goal-amount-current {
    color: var(--accent-color);
}

.donation-goal-progress {
    display: flex;
    gap: 8px;
    padding: 0 32px;
    align-items: center;
}

.donation-goal-progress-bar {
    width: 100%;
    height: 12px;
    background: var(--foreground-color);
    border-radius: 8px;
    overflow: hidden;
}

.donation-goal-progress-indicator {
    height: 100%;
    width: 0;
    background-color: var(--accent-color);
}

.test {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
