.donation-goal-container {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.donation-goal-container > :not(:last-child)::after {
    content: "";
    height: 64px;
    width: 0px;
    border-left: 1px dashed color-mix(in oklab, var(--foreground-color) 50%, oklch(0 0 0));
    display: block;
    margin: 0 auto;
}

.donation-goal {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
    gap: 16px;
    position: relative;
    background-color: var(--background-color);
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 8px;

    @media screen and (max-width: 896px) {
        padding: 12px;
        gap: 12px;
    }
}

.donation-goal-progress {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--accent-color);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: -1px;
    z-index: -1;
}

.donation-goal-border {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: color-mix(in oklab, var(--foreground-color) 50%, oklch(0 0 0));
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: -1px;
    z-index: -1;
}

.donation-goal-header {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.donation-goal-title,
.donation-goal-amount {
    font-size: 24px;
    font-weight: 600;

    @media screen and (max-width: 896px) {
        font-size: 20px;
    }
}

.donation-goal-amount {
    color: color-mix(in oklab, var(--foreground-color) 75%, oklch(0 0 0));
}

.donation-goal-amount-current {
    color: var(--accent-color);
}

.donation-goal-value {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    flex-shrink: 0;
}

.donation-form {
    width: 416px;
    border: none;
    border-radius: 8px;

    position: sticky;
    top: 88px;
    margin: 0 auto;

    @media screen and (max-width: 896px) {
        max-width: 416px;
        width: 100%;
    }
}
