.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: 100%;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
}

.form-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
}

.form-input {
    height: 32px;
}

.form-textarea {
    min-height: 96px;
    resize: vertical;
}

.form-label > *,
.form-input,
.form-textarea,
.form-condition {
    font-size: 14px;
}

.form-input,
.form-textarea,
.form-checkbox,
.form-submit {
    width: 100%;
    border: 1px solid oklch(1 0 0 / 50%);
    border-radius: 8px;
    background-color: var(--background-color-light);
    padding: 8px;
}

.form-label > .required:after {
    content: "*";
    color: var(--accent-color);
    margin-left: 4px;
}

.form-input:focus,
.form-textarea:focus,
.form-checkbox:focus,
.form-submit:focus {
    border-color: var(--accent-color);
    outline: none;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--background-color);
    box-shadow: 2px 2px 8px var(--shadow-color);
}

.form-action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.form-response {
    height: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flash-success {
    color: green;
}

.flash-success:before {
    margin-right: 8px;
    content: "\002713";
}

.flash-error {
    color: red;
}

.flash-error:before {
    margin-right: 8px;
    content: "\002716";
}
