@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&display=swap");

:root {
    --accent-color: oklch(0.756648 0.166483 67.6228);
    --background-color: oklch(0.15 0.02 252.19);
    --background-color-muted: oklch(0.2 0.02 252.19);
    --foreground-color: oklch(1 0.02 252.19);
    --foreground-color-muted: oklch(0.9 0.05 252.19);

    --border-color: color-mix(in oklab, var(--foreground-color) 10%);

    --success-color: oklch();
    --error-color: oklch();

    --accent-color-light: #f6ad33;
    --accent-color-dark: #543c00;
    --background-color-light: #18191f;
    --background-color-lighter: #16273b;
    --text-color-1: #ffffff;
    --text-color-2: #abbed1;
    --text-color-3: #000000;

    --destructive: oklch(0.704 0.191 22.22);
    --color-alternate: #1e1e1e;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--foreground-color);
    font-family: "Inter", sans-serif;
    color-scheme: dark;
}

b {
    font-weight: 700;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
